<div class="row mt-3">
	<div class="col-12 col-lg-6 col-xl-3">
		<div class="card gradient-blooker">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="w-icon"> <i class="fa fa-money text-white"></i>
					</div>
					<div class="media-body ml-3 border-left-xs border-white-2">
						<h4 class="mb-0 ml-3 text-white">{{housecount+toiletcount+infracount}}</h4>
						<p class="mb-0 ml-3 text-white extra-small-font">Total Assets</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-6 col-xl-3">
		<div class="card gradient-scooter">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="w-icon"> <i class="fa fa-comments-o text-white"></i>
					</div>
					<div class="media-body ml-3 border-left-xs border-white-2">
						<h4 class="mb-0 ml-3 text-white">{{housecount}}</h4>
						<p class="mb-0 ml-3 text-white extra-small-font">Houses Count</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-6 col-xl-3">
		<div class="card gradient-bloody">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="w-icon"> <i class="fa fa-question-circle-o text-white"></i>
					</div>
					<div class="media-body ml-3 border-left-xs border-white-2">
						<h4 class="mb-0 ml-3 text-white">{{toiletcount}}</h4>
						<p class="mb-0 ml-3 text-white extra-small-font">Toilets Count</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-6 col-xl-3">
		<div class="card gradient-quepal">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="w-icon"> <i class="fa fa-bar-chart text-white"></i>
					</div>
					<div class="media-body ml-3 border-left-xs border-white-2">
						<h4 class="mb-0 ml-3 text-white">{{infracount}}</h4>
						<p class="mb-0 ml-3 text-white extra-small-font">Infra Count</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<marquee direction="right" height="auto" width="auto" style="color:black;font-weight:bold;font-size:20px;"
class="modal-title mt-0"> Stage Wise Analysis </marquee>
<div class="row mt-4">
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card">
			<div class="card-header">House Stages Analysis </div>
			<div class="card-body pb-0">
				<div class="">
					<div id="houseanalysisgraph"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card">
			<div class="card-header">Toilet Stages Analysis </div>
			<div class="card-body pb-0">
				<div class="">
					<div id="toiletanalysisgraph"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card">
			<div class="card-header">Infra Stages Analysis </div>
			<div class="card-body pb-0">
				<div class="">
					<div id="infraanalysisgraph"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row mt-4">
	<marquee direction="right" height="auto" width="auto" style="color:black;font-weight:bold;font-size:20px;"
class="modal-title mt-0"> Department Wise Analysis </marquee>
<div class="col-12 col-lg-4 col-xl-4">
	<div class="card">
		<div class="card-header text-center">Department Wise House Analysis</div>
		<div class="card-body p-0">
			<div class="">
				<div id="department-house"></div>
			</div>
		</div>
	</div>
</div>
<div class="col-12 col-lg-4 col-xl-4">
	<div class="card">
		<div class="card-header text-center">Department Wise Toilet Analysis </div>
		<div class="card-body p-0">
			<div class="">
				<div id="department-toilet"></div>
			</div>
		</div>
	</div>
</div>
<div class="col-12 col-lg-4 col-xl-4">
	<div class="card">
		<div class="card-header text-center">Department Wise Infra Analysis </div>
		<div class="card-body p-0">
			<div class="">
				<div id="department-infra"></div>
			</div>
		</div>
	</div>
  </div>
</div>
<!-- <div class="row mt-4">

<div class="col-12 col-lg-4 col-xl-4">

	<div class="card">
		<div class="card-header">West Godavari Analysis</div>
		<div class="card-body">
			<div class="chart-container d-flex align-items-center justify-content-center">
				<div id="westgodavari"></div>
			</div>
		</div>
	</div>
</div>
<div class="col-12 col-lg-4 col-xl-4">
	<div class="card">
		<div class="card-header">East Godavari Analysis</div>
		<div class="card-body">
			<div class="chart-container d-flex align-items-center justify-content-center">
				<div id="eastgodavari"></div>
			</div>
		</div>
	</div>
</div>
</div> -->
<div class="card">
	<div class="card-body">
		<div id="users-status"></div>
	</div>
</div>