
<div class="container-fluid">


    <div class="row pt-2 pb-2">
        <div class="col-sm-9">
            <h4 class="page-title" class="center-screen" >ADD INFRASTRUCTURE </h4>

        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <div class="page-title-box d-flex align-items-center justify-content-end">

                    <div class="page-title-left">
                        <button mat-raised-button color="primary" (click)="addinfrastructure(addinfrastructureModel,0)"
                            class="button-customize" style="color:white;padding:5px;font-size:20px;">
                            + Add Infrastructure</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <div class="row toppad">
                    <div class="col-6">
                        <mat-form-field>
                            <mat-label>Search</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="type here" #input>
                            <button matSuffix mat-button><mat-icon >search</mat-icon></button>
                        </mat-form-field>
                    </div>

                    <div class="page-title-left">
                        <button mat-stroked-button color="primary"
                            (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'}})"
                           class="button_css">Excel <i class="fa fa-file-excel-o" style="font-size:24px"></i></button>
                           &nbsp;
                           <button mat-stroked-button color="accent" (click)="pdfMake()" class="button_css">Pdf <i
                                   class="fa fa-file-pdf-o cust-icon-btn"></i></button>
                        </div>


                    <div class="mat-elevation-z8" #TABLE style="width:100%">

                        <mat-paginator [pageSizeOptions]="[25, 50, 100, 150,200]" showFirstLastButton class = "pagination"></mat-paginator>

                        <div id="content" #content>
                            <table id="table-to-copied" matTableExporter #tab mat-table [dataSource]="dataSource"
                               #exporter="matTableExporter" [hiddenColumns]="[0]"  matSort>


                                <ng-container matColumnDef="ID">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                    <td mat-cell *matCellDef="let row; let i=index"> {{ i+1 }} </td>
                                </ng-container>


                                <ng-container matColumnDef="InfrastructureName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Infrastructure Name</th>
                                    <td mat-cell *matCellDef="let row">
                                        {{row.infra_name}} </td>
                                </ng-container>



                                <ng-container matColumnDef="edit">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
                                    <td mat-cell *matCellDef="let row; let i=index">
                                        <!-- <i class="material-icons cust-mat-icon"
                                            (click)="adddistrict(adddistrictModel, row)">edit</i> -->
                                            <a href="javascript:;"><i aria-hidden="true" class="fa fa-edit" (click)="addinfrastructure(addinfrastructureModel, row)" style="color:black;font-size:20px"></i> </a> 
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="delete">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
                                    <td mat-cell *matCellDef="let row; let i=index">
                                        <i class="material-icons cust-mat-icon" style="color:black;font-size:20px;" (click)="deleteAlert(row.id)">delete</i>   
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr>
                            </table>
                        </div>


                    </div>

                    <br><br>



                </div>
            </div>
        </div>


    </div>

    <ng-template #addinfrastructureModel let-modal >
        <div class="modal-header">
           
            <marquee direction="right" height="auto" width="auto" style="color:black;font-weight:bold;font-size:20px;" class="modal-title mt-0" >Infrastructure</marquee>
            <button type="button" class="close" aria-hidden="true" (click)="modalDismiss()">×</button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card" >
                        <div class="card-body" >
                            <form (ngSubmit)="addinfrastructureSubmit()" [formGroup]="addinfrastructureForm"  style="background-image:url(rr.png);background-repeat:no-repeat;background-size: cover;">

                                <div class="row">
                                    
                                    <div class="mb-3 col-6">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label> Add Infrastructure</mat-label>
                                            <input matInput placeholder="Enter Infrastructure Name " formControlName="infra_name"
                                                (keypress)="charactersOnly($event)"
                                                [ngClass]="{'is-invalid': submitted && addinfraFormCnt.infra_name.errors}">
                                            <div *ngIf="submitted && addinfraFormCnt.infra_name.errors"
                                                class="invalid-feedback">
                                                <span *ngIf="addinfraFormCnt.infra_name.errors.required">Infrastructure Name Required
                                                    </span>
                                            </div>
                                        </mat-form-field>
                                    </div>

                                </div>



                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" (click)="modalDismiss()">Close</button>
                                    <button type="reset" class="btn btn-secondary waves-effect">Reset</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ng-template>
   

</div>